@model IEnumerable<Web.Models.NotesViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
        function OnFilterChanged(){
            var args = document.getElementById('countBox').value;
            var html = '';
            $('#container').empty();
            $.ajax({
                type: "GET",
                url:"/Notebook/Filter?args="+args,
                contentType:"application/json; charset=utf-8",
                dataType:"json",
                success:function(msg){
                   $.each(msg,function(item,value){
                        html+='<tr>';
                        html+='<td>'+value.Title+'</td>';
                        html+='<td>'+value.CreatedDateView+'</td>';
                        html+='<td>';
                        html+='<a href="/Notebook/Detail?id='+value.Id+'" class="btn btn-primary" style="margin-left:6px;"><i class="fas fa-ellipsis-h">Detay</i></a>';
                        html+='<a href="/Notebook/Edit?id='+value.Id+'" class="btn btn-primary" style="margin-left:6px;"><i class="fas fa-pencil-alt">Düzenle</i></a>';
                        html+='<a href="/Notebook/Delete?id='+value.Id+'" class="btn btn-primary" style="margin-left:6px;"><i class="fas fa-trash">Sil</i></a>';                        
                        html+='</td>';
                        html+='</tr>';
                   });
                    $('#container').append(html);
                }
            })
        }
</script>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div id="modalDiv" class="box">
                <div class="box-header">
                    <h3 class="box-title">Notlarım</h3>
                </div>
                <div class="box">
                    <div class="box-header col-sm-3">
                        <h4 class="box-title">Görüntüle</h4>
                        <select id="countBox" class="form-control" onchange="OnFilterChanged()">
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="Hepsi">Hepsi</option>
                        </select>
                        <a href="/Notebook/Create" class="btn btn-primary" style="margin-top:8px;">
                            <i class="fas fa-plus">
                                Yeni Not Oluştur
                            </i>
                        </a>                       
                        @Html.ValidationSummary()
                    </div>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().Title)</th>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().CreatedDate)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="container">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.CreatedDate.Value.ToShortDateString()</td>
                                    <td>
                                        <a href="/Notebook/Detail?id=@item.Id" class="btn btn-primary">
                                            <i class="fas fa-ellipsis-h">
                                                Detay
                                            </i>
                                        </a>
                                        <a href="/Notebook/Edit?id=@item.Id" class="btn btn-primary">
                                            <i class="fas fa-pencil-alt">
                                                Düzenle
                                            </i>
                                        </a>
                                        <a href="/Notebook/Delete?id=@item.Id" class="btn btn-primary">
                                            <i class="fas fa-trash">
                                                Sil
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().Title)</th>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().CreatedDate)</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


